<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Edit Listing</h3> <br>
            <form action="/listings/<%= listing.id %>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" placeholder="enter the title" class="form-control"
                        value="<%=listing.title %>" required>
                    <div class="invalid-feedback">
                        enter the title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="" placeholder="enter the desvription" type="text"
                        class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                        enter the description
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="image" placeholder="enter the image url" class="form-control"
                        value="<%= listing.image %>" required>
                    <div class="invalid-feedback">
                        enter the valid image url
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" placeholder="enter the price" class="form-control"
                            value="<%= listing.price %>" required>
                        <div class="invalid-feedback">
                            enter the price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" placeholder="enter the country" class="form-control"
                            value="<%= listing.country %>" required>
                        <div class="invalid-feedback">
                            enter the country
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" placeholder="enter the location" class="form-control"
                        value="<%= listing.location %>" required>
                    <div class="invalid-feedback">
                        enter the location
                    </div>
                </div>
                <button class="btn btn-dark edit-btn">Edit</button> <br><br><br>
            </form>
        </div>
    </div>